option_settings:

  aws:elbv2:targetgroup:
    HealthCheckPath: /health
    HealthCheckIntervalSeconds: 15
    HealthCheckTimeoutSeconds: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 2
    MatcherHTTPCode: 200

  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
