
option_settings:
  # HTTP listener on 80 (terminates at ALB, forwards to "default" process)
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
    DefaultProcess: default

  # HTTPS listener on 443 (SSL terminates at ALB)
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-REGION:ACCOUNT-ID:certificate/REPLACE_ME
    DefaultProcess: default
