/* Styles for QuestionListHeader component */

.add-question-button {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: 0;
  background-color: #1976d2;
  color: #ffffff;
  align-self: flex-end;
}

.add-question-button:hover {
  background-color: #004ba0;
}

.manage-tags-button {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: center;
}

.error-message {
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: red;
}
